canvas {
    width: 500px;
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
border: 10px solid white;

}
#canvas { 
display: none;

}

#downloader {
    margin-top: 0px;
    padding: 0px;
    background: none;
    display: none;
}
#rotater {
    margin-top: 0px;
    padding: 0px;
    background: none;
    display: none;
}

.no-bg {
    background: none !important;
    -webkit-transition: 0.5s; /* Safari */
    transition: 0.5s;
    padding: 1.25rem 1.25rem;
    margin-top: 1em;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.box {
        text-align: center;
}

.inputfile-1 + label {
        font-size: 1.5em;
}

label {
    margin-bottom: 0px;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

.box { 
    background-color: #03A9F4;
}

body {
        background-color: #2196F3;
}

h1 {
    text-align: center;
    font-size: 5em;
        font-family: Kanit;
    color: white;
    font-weight: medium;
    font-style: italic;
}

.inputfile-1 + label:hover,.inputfile:focus + label,
.inputfile.has-focus + label {
    background-color: #4CAF50;
}

.inputfile-1 + label {
    background-color: #8BC34A;
}

.inline {
    display: inline !important;
}

#underline {
    display: none;
    text-align: center !important;
}

